appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
cssselect2==0.2.1
dj-database-url==2.3.0
Django==5.1.5
jsonpointer==2.1
matplotlib==3.9.2
protobuf==4.25.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1-modules==0.2.8
pycairo==1.25.0
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==75.1.0
sqlparse==0.5.3
wheel==0.44.0
