{% extends 'hisaab/base.html' %}
{% block content %}
<h2>Change password for user - {{ username }}</h2>
<form id="login_form" method="post" action="{% url 'change_password' user.id %}">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">New password</label>
        <input type="password" class="form-control" name="new_password1" value="" size="50" required/>
    </div>
    <div class="mb-3">
        <label class="form-label">New password again</label>
        <input type="password"class="form-control" name="new_password2" value="" size="50" required/>
    </div>
    <button type="submit" class="btn btn-primary w-100" value="submit">Change Password</button>
</form>
{% if errors %}
    {% for field, field_errors in errors.items %}
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}