{% extends 'hisaab/base.html' %}
{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Profile</h2>
    <hr>
    <div class="row mb-3">
        <div class="col-md-4"><strong>Full Name:</strong></div>
        <div class="col-md-8">{{ user.username }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4"><strong>Role:</strong></div>
        <div class="col-md-8">
            {% if user.groups.all %}
                {{ user.groups.all|join:", " }}
            {% endif %}
        </div>
    </div>
    <hr>
    <a href="{% url 'password_change' %}">
        <button class="btn btn-danger">Reset Password</button>
    </a>
</div>
{% endblock %}
